@import "tailwindcss";

@theme {
  --color-brand: #07102E;
  --color-brand-accent: #570303;
  --color-dashboard-primary: #3b82f6;
  --color-dashboard-secondary: #6366f1;
  --color-dashboard-success: #10b981;
  --color-dashboard-warning: #f59e0b;
  --color-dashboard-danger: #ef4444;
  --font-sans: "Outfit", sans-serif;
  
  --spacing-375: 93.75rem; /* 1500px */
  --spacing-112\.5: 28.125rem;
  --spacing-137\.5: 34.375rem;
  --spacing-21\.25: 5.3125rem;
  --spacing-6\.75: 1.6875rem;
}

:root {
  font-family: "Outfit", sans-serif;
}

html, body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Outfit", sans-serif !important;
}